.form {
    margin-bottom: 15px;
}

.input {
    width: 200px;
    height: 30px;
    border-radius: 4px;
}

.button {
    height: 40px;
    border-radius: 4px;
    margin-left: 10px;
    text-align: center;
}

.button:hover {
    background-color: #454749;
}